<%= render "devise/shared/error_messages", resource: resource %>
<%= form_for(resource, class: 'form', as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class='form'>

    <h2 class="form_title">Edit <%= resource_name.to_s.humanize %></h2>

    <div class="form_group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form_text', placeholder: 'Email' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class='form_label_description'>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= render "devise/shared/get_passwords_fields" %>

    <h3 class="form_title">Unhappy?</h3>
    <div class="delete">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'form_bottom_delete' %>
    </div>

    <div class="form_foot">
      <%= link_to "Back", :back, class: 'back_bottom' %>
      <%= f.submit "Update", class: 'save_bottom' %>
    </div>
  </div>
<% end %>
