<%= render "devise/shared/error_messages", resource: resource %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class='form'>
    <h2 class="form_title">Log in <%= resource_name.to_s.humanize %></h2>
    <div class="form_group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form_text', placeholder: 'Email' %>
    </div>
    <div class="form_group">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter password", class: 'form_text' %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form_group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: 'save_bottom' %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

